<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrCsa1m6aiP2YNBHfaLv9MOobjxcrrZVI</string>
	<key>GCM_SENDER_ID</key>
	<string>447193702767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jongwon.capstone</string>
	<key>PROJECT_ID</key>
	<string>loginexampleproject-90ced</string>
	<key>STORAGE_BUCKET</key>
	<string>loginexampleproject-90ced.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447193702767:ios:88160e0cb41afa9ec7089a</string>
	<key>DATABASE_URL</key>
	<string>https://loginexampleproject-90ced-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>